/* Configurações gerais */

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

html{
    scroll-behavior: smooth;
}

.flex{
    display: flex;
}

.description {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5rem
}

h3.subtitle{
    margin-top: 30px;
    --tw-text-opacity: 1;
    color: rgb(65 66 63/var(--tw-text-opacity));
    font-size: 1.625rem;  
    font-weight: 800; 
}

/* Sobre */

section.sobre{
    padding: 80px 4%;
}

.sobre h1{
    color: #487d95;
}

/* atuação */

section.atuacao{
    padding: 40px 4%;
}

.atuacao{
    background: linear-gradient(to right, #03597ef8, #012b3df8 );
}

section.atuacao .flex{
    justify-content: space-between;
}

.atuacao .atuacao-box{
    padding: 40px;
    margin-top: 45px;
    border-radius: 20px;
    width: auto;
    
}

.atuacao .atuacao-box:hover{
    transform: scale(1.05);
    transition: .4s linear;
    box-shadow: 0 0 8px #fff;
}

.atuacao span{
    font-size: 4.625rem;
    font-weight: 700;
    line-height: 5rem;
    width: fit-content;
    color: #d5e6ea;
    filter:drop-shadow(0 0 2px #000)
}

.atuacao p{
    margin-top: 13px;
    font-weight: 300;
    color: #fff;
    text-align: left;
}

.atuacao h3{
    color: #fff;
}

/* Metodologia */

section.metodologia{
    padding: 80px 4%;
}

section.metodologia .flex{
    justify-content: center;
    align-items: center;
    gap: 140px;  
}

.metodologia .btn-contato button{
    padding: 10px 100px;
    font-size: 18px;
    margin-bottom: 120px;
    font-weight: 600;
    background: linear-gradient(45deg, #03597ef8, #012b3df8 );
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
    box-shadow: 0 0 8px #000;
    color: #fff;
}   

.metodologia .met-box p{
    margin-top: 20px;
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px   ;
    }
}

/* Clientes */

section.clientes{
    padding: 40px 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clientes{
    background-color: #f1f1eef8;
    justify-content: center;
}

.clientes h1{
    color: #487d95;
    font-weight: 700;
    margin-bottom: 20px;
}

.clients-container{
    justify-content: space-between;
    display: flex;
}

.Pavani .clients-img {
    margin-top: -40px;
}

.clients-carousel-container {
    display: none; 
  }
  
  @media only screen and (max-width: 600px) {
    .clients-carousel-container {
      display: block; /* Exibe o carrossel apenas em dispositivos com largura menor ou igual a 600px (tamanho de dispositivo móvel típico) */
    }
  }
  

.clients-img {
    margin-right: 80px;     
}

.clientes-img img{
    width: 100%;
}

/* Diferenciais */

section.diferenciais {
    padding: 40px 4%;
    display: flex;
    background-color: #fff!important;
}

section.diferenciais .interface{
    display: flex;
    align-items: center;
}

section.diferenciais .flex{
    flex-direction: column;
}

.Container-list{
    display: flex;
    justify-content: space-between;
    padding: 0 ;
}

.Container-list > p{
    margin: 0px 10px;
    padding-top: 15px;
}



.Number-list {
    background-image: linear-gradient(to right, #03597ef8, #012b3df8);
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
    display: block;
    

}

.diferenciais h2 span{
    background-image: linear-gradient(to right, #03597ef8, #012b3df8);
    -webkit-background-clip: text;
    color: transparent;
}

.diferenciais h2{
    text-align: center;
    font-weight: 800;
    font-size: 50px;
    margin-bottom: 30px;
}

/* forms */

section.interface{
    padding: 80px 4%;
}

section.forms .flex{
    display: flex;
}

.forms{
    --tw-bg-opacity: 1;
    background-color: #1B1f27;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.forms-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.forms-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #181920;
    height: 500px;
    width: 450px;
    padding: 35px;
    border-radius: 20px;
}

.forms-box form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.forms-box input{
    margin-top: 20px;
    background-color: #252a34;
    color: #fff;
    border: none;
    height: 45px;
    width: 380px;
    border-radius: 10px;
    text-align: start;
    outline: none;
    padding-left: 10px;
}

input::placeholder{
    color: #CBD0F7;
    font-size: 14px;
    
}

.forms-box .button{
    width: 160px;
}

.forms-box .Button-container{
    justify-content: center;
    
}

.forms-container .txt-form{
    font-weight: 600;
    font-size: 30px;
    padding-bottom: 80px;
}

/* Footer */

.Footer-Container{
    background-color: #FFF;
}


/* PORTFOLIO */

.projectItem{
    float: left;
    /* width: 33.3333333333%; */
    padding: 15px;
    box-sizing: border-box ;
}

.project-box{
    position: relative;
    overflow: hidden;
}

.project-thumbnail{
    overflow: hidden;
}       

.project-thumbnail img{
    width: 345px;
    height: 345px;
}

.portfolio-info{
    width: 100%;
    height: 100%;
    position: absolute; 
    bottom: 0;
    left: 0;
    background: rgba(12, 41, 53, 0.5);
    opacity: 0;
    transition: all 0.3s linear;
}

a.overlay{
    position: absolute;
    top: 0;
    left: 0;
    /* background: #fff; */
    opacity: 0.8;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.portfolio-info-inner{
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 100%;
    padding: 30px 40px;
    transform: translateX(-50%);
}

.portfolio-info-inner h5{
    color: #fff;
    font-size: 24px;
    margin-bottom: 7px;
}

.portfolio-info-inner h5 a{
    color: #fff;
}



/* Responsive */

@media screen and (max-width: 768px) {
    /* Sobre */
    .txt-sobre{
        
        margin: 0 auto; 
        text-align: center;
    }

    /* Atuação */
    section.atuacao .flex{
        flex-direction: column;
        text-align: center;
        
    }
    .atuacao .flex .atuacao-box p{
        text-align: center;
    }

    .metodologia .flex {
        flex-direction: row; 
        justify-content: space-between; 
        align-items: center; 
        flex-wrap: wrap; 
    }

    /* metodologia */
    .metodologia .met-box {
        width: calc(50% - 20px); 
        text-align: center;
    }

    span.gambiarra{
        margin-left: -35px;
    }

    .metodologia .btn-contato {
        width: 100%; 
        text-align: center; 
    }

    /*Diferencial*/
    .Container-list span{
        margin-top: 70px;
    }


}