/* Configurações gerais */

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.description {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5rem
}

h3.subtitle{
    margin-top: 30px;
    --tw-text-opacity: 1;
    color: rgb(65 66 63/var(--tw-text-opacity));
    font-size: 1.625rem;  
    font-weight: 800; 
}

/* Sobre */

section.sobre{
    padding: 80px 4%;
}

.sobre h1{
    color: #487d95;
}

/* atuação */

section.atuacao{
    padding: 40px 4%;
}

.atuacao{
    background: linear-gradient(to right, #03597ef8, #012b3df8 );
}

section.atuacao .flex{
    justify-content: space-between;
}

.atuacao .atuacao-box{
    padding: 40px;
    margin-top: 45px;
    border-radius: 20px;
    width: auto;
    
}

.atuacao .atuacao-box:hover{
    transform: scale(1.05);
    transition: .4s linear;
    box-shadow: 0 0 8px #fff;
}

.atuacao span{
    font-size: 4.625rem;
    font-weight: 700;
    line-height: 5rem;
    width: fit-content;
    color: #d5e6ea;
    filter:drop-shadow(0 0 2px #000)
}

.atuacao p{
    margin-top: 13px;
    font-weight: 300;
    color: #fff;
    text-align: left;
}

.atuacao h3{
    color: #fff;
}

/* Metodologia */

section.metodologia{
    padding: 80px 4%;
}

section.metodologia .flex{
    justify-content: center;
    align-items: center;
    gap: 140px;  
}

.metodologia .btn-contato button{
    padding: 10px 80px;
    font-size: 22px;
    margin-bottom: 120px;
    font-weight: 600;
    background: linear-gradient(45deg, #03597ef8, #012b3df8 );
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
    box-shadow: 0 0 8px #000;
    color: #fff;
}   

.metodologia .met-box p{
    margin-top: 20px;
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px   ;
    }
}

/* Funcionario */

section.funcionario{
    padding: 80px 4%;
}

.funcionario{
    background: linear-gradient(to right, #03597ef8, #012b3df8 );
    height: auto;
}

.funcionario .img-func img{
    border-radius: 20px;
    margin-top: 50px;
}

.funcionario .sobre-func{
    padding-left: 125px;
}

.funcionario .sobre-func h1{
    margin-top: 100px;
    font-size: 3.255rem;
    font-weight: 700;
    line-height: 5rem;
    width: fit-content;
    color: #fff;
    filter:drop-shadow(0 0 2px #000)
}

.funcionario .sobre-func h3{
    margin-top: 5px;
    color: #fff;
    font-size: 1.625rem;   
}


.funcionario .sobre-func h5{
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
}

.funcionario .sobre-func p{
    margin-top: 15px;
    margin-bottom: 35px;
    font-weight: 300;
    color: #fff;
}

 .btn-social button{
    margin-top: 20px;
    width: 53px;
    height: 53px;
    border-radius: 50%;
    border: none;
    background-color: #FFF;
    font-size: 22px;
    cursor: pointer;
    margin: 0 10px;
}

.btn-social button i{
    color: #000;
}

.btn-social button:hover{
    box-shadow: 0 0 8px #000;
    transform: scale(1.05);
    transition: 0.7s;
}

/* Diferenciais */

section.diferenciais {
    padding: 40px 4%;
    display: flex;
}

section.diferenciais .interface{
    display: flex;
    align-items: center;
}

section.diferenciais .flex{
    flex-direction: column;
}

.Container-list{
    display: flex;
    justify-content: space-between;
    padding: 0 ;
}

.Container-list > p{
    margin: 0px 10px;
    padding-top: 15px;
}



.Number-list {
    background-image: linear-gradient(to right, #03597ef8, #012b3df8);
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
    display: block;
}

.diferenciais h2 span{
    background-image: linear-gradient(to right, #03597ef8, #012b3df8);
    -webkit-background-clip: text;
    color: transparent;
}

.diferenciais h2{
    text-align: center;
    font-weight: 800;
    font-size: 50px;
    margin-bottom: 30px;
}

/* forms */

section.interface{
    padding: 80px 4%;
}

section.forms .flex{
    display: flex;
}

.forms{
    --tw-bg-opacity: 1;
    background-color: #1B1f27;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.forms-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.forms-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #181920;
    height: 500px;
    width: 450px;
    padding: 35px;
    border-radius: 20px;
}

.forms-box form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.forms-box input{
    margin-top: 20px;
    background-color: #252a34;
    color: #fff;
    border: none;
    height: 45px;
    width: 380px;
    border-radius: 10px;
    text-align: start;
    outline: none;
    padding-left: 10px;
}

input::placeholder{
    color: #CBD0F7;
    font-size: 14px;
    
}

.forms-box .button{
    width: 160px;
}

.forms-box .Button-container{
    justify-content: center;
    
}

.forms-container .txt-form{
    font-weight: 600;
    font-size: 30px;
    padding-bottom: 80px;
}

/* Footer */

.Footer-Container{
    background-color: #FFF;
}


/* Responsive */

@media screen and (max-width: 768px) {
    /* Sobre */
    .txt-sobre{
        
        margin: 0 auto; 
        text-align: center;
    }

    /* Atuação */
    section.atuacao .flex{
        flex-direction: column;
        text-align: center;
        
    }
    .atuacao .flex .atuacao-box p{
        text-align: center;
    }

    .metodologia .flex {
        flex-direction: row; /* Altera a direção do flexbox para linha */
        justify-content: space-between; /* Distribui os itens ao longo da linha */
        align-items: center; /* Centraliza os itens na direção transversal */
        flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha se não couberem */
    }

    /* metodologia */
    .metodologia .met-box {
        width: calc(50% - 20px); /* Define a largura para 50% do contêiner pai, com margens entre eles */
        text-align: center;
    }

    span.gambiarra{
        margin-left: -35px;
    }

    .metodologia .btn-contato {
        width: 100%; /* Faz o botão ocupar toda a largura do contêiner pai */
        text-align: center; /* Centraliza o botão horizontalmente */
    }

    /*Diferencial*/
    .Container-list span{
        margin-top: 70px;
    }


}